{% extends 'base.html' %} {% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />

<p>user: {{ user }}</p>


    <p>Username: {{ user.username }}</p>
    <p>Quip: {{user.profile.quip }}</p>
    <a href="{% url 'profiles_create' %}">create profile</a>


<!-- form to add a photo to user profile -->
<form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

{% endblock %}