{% extends 'base.html' %} {% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/play.css' %}" />
<div class="play-wrapper">
    <div class="top-bar-container">
        <div class="game-name">trivia game</div>
    </div>   
    
        <!-- Avatar image here -->
    <div class="avatar">
            <img width="50px" src="{{ user.profile.url }}" alt="avatar image" />
    </div>

    <a href="{% url 'info' %}" class="btn play">More Info</a>
    <a href="" class="btn play">Play</a>

</div>




  {% endblock %}