{% extends 'base.html' %} {% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<div class="sign-up-wrapper">
  <div class="logo">
    <span class="trivia-logo font-effect-neon">Trivia </span
    ><span class="night-logo font-effect-neon">Night</span>
  </div>
<div class="input-wrap">
  <h1 class="title">Sign In</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %} {{ form.as_p }}
    <div class="buttons">
    <input type="submit" class="btn" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <a class="btn" href="{% url 'signup' %}">Sign Up</a>
</div>
</div>

<script>
  localStorage.setItem("state", "closed");
</script>
{% endblock %}
