{% extends 'base.html' %} {% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
<div class="sign-up-wrapper">
  <div class="logo">
    <span class="trivia-logo font-effect-neon ">Trivia </span
    ><span class="night-logo font-effect-neon">Night</span>
  </div>
  <div class="input-wrap">
    <h1 class="title">Sign Up</h1>

    {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
    {% endif %}
  
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %} {{ form.as_p }}
        <div class="buttons">
        <input type="submit" class="btn" value="signup" />
      </form>
    </div>
  </div>
</div>

<script>
  localStorage.setItem("state", "closed");
</script>
{% endblock %}
