
{% extends 'base.html' %}{% block content %} {% load static %}
<img id="ham" width="32px" src="{% static 'imgs/ham.svg' %}" alt="" />
<div id="side-menu" class="">
  <div class="leaderboard-title">High Scores</div>
  <div class="leaderboard-buttons">
    {% for data in leaderboards %}
    <button id={{data}} value="{{data}}">{{data}}</button>
    {% endfor %} 
  </div>
  <div class="table-content">
  <div id='table' class="hour_board">  
    <table>
    <tr>          
      <th>Username:</th>
      <th>Score:</th>
    </tr>       
    {% for player in leaderboards.hour %}
      <td>{{player.user__username}}</td>
      <td>{{player.points__sum}}</td>
    </tr>      
    {% endfor %} 
  </table>
</div>

<div id='table' class="day_board">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.day %}
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>

  <div id='table' class="week_board">  
    <table>
    <tr>          
      <th>Username:</th>
      <th>Score:</th>
    </tr>       
    {% for player in leaderboards.week %}
      <td>{{player.user__username}}</td>
      <td>{{player.points__sum}}</td>
    </tr>      
    {% endfor %} 
  </table>
</div>

<div id='table' class="month_board">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.month %}
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>

<div id='table' class="alltime_board">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.alltime %}
  <tr>
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>
</div>
</div>
{% endblock %}
