
{% extends 'base.html' %}{% block content %} {% load static %}
<img id="ham" width="32px" src="{% static 'imgs/ham.svg' %}" alt="" />
<div id="side-menu" class="">
  <div class="leaderboard-title">High Scores</div>

  <select id='selector' name="leaderboards">
    {% for data in leaderboards %}
    <option id='option' value="{{data}}">{{data}}</option>
    {% endfor %}
  </select>

  <div id='table' class="hour">  
    <table>
    <tr>          
      <th>Username:</th>
      <th>Score:</th>
    </tr>       
    {% for player in leaderboards.hour %}
      <td>{{player.user__username}}</td>
      <td>{{player.points__sum}}</td>
    </tr>      
    {% endfor %} 
  </table>
</div>

<div id='table' class="day">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.day %}
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>

  <div id='table' class="week">  
    <table>
    <tr>          
      <th>Username:</th>
      <th>Score:</th>
    </tr>       
    {% for player in leaderboards.week %}
      <td>{{player.user__username}}</td>
      <td>{{player.points__sum}}</td>
    </tr>      
    {% endfor %} 
  </table>
</div>

<div id='table' class="month">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.month %}
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>

<div id='table' class="alltime">  
  <table>
  <tr>          
    <th>Username:</th>
    <th>Score:</th>
  </tr>       
  {% for player in leaderboards.alltime %}
    <td>{{player.user__username}}</td>
    <td>{{player.points__sum}}</td>
  </tr>      
  {% endfor %} 
</table>
</div>

</div>
{% endblock %}
