.ham-btn {
  z-index: 5;
}

.hour {
  display: block;
}
.day,
.week,
.month,
.alltime {
  display: none;
}
#side-menu {
  max-width: 270px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 40%;
  top: 15%;
  background-color: #000000df;
  height: 300px;
  width: 50%;
  color: white;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 1px 11px 26px -4px #000000;
  box-shadow: 1px 11px 26px -4px #000000;
}
.leaderboard-title {
  font-size: 1.2rem;
  padding: 4px;
  text-transform: uppercase;
}
.ptable table {
  margin: 30px auto;
  border-collapse: collapse;
}

.ptable {
  margin: 0px 0% 30px 0%;
}

th,
td {
  font-family: 1.2rem;
  padding: 5px;
}

th {
  color: #ffe221;
}

.headin {
  text-align: center;
  text-decoration: none;
  color: #ffe221;
  margin: 20px;
  display: block;
  font-family: "VT323", monospace;
}

table .col {
  border-bottom: 1px solid #ffffff;
}
select {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.closed {
  clip-path: circle(20px at 90% -10%);
  -webkit-clip-path: circle(20px at 90% -10%);
}
