.sign-up-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

label {
  text-transform: uppercase;
}
input[type="text"],
input[type="password"] {
  background-color: white;
  width: 50%;
  padding: 12px 20px;
  margin: 6px 0;
  border-radius: var(--border-radius);
  border: none;
  border: 2px black solid;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
input[type="password"] {
  margin-top: 20px;
}
.btn {
  margin: 10px;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 20px #2196f3;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "Sigmar One", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 40px;
}

.trivia-logo {
  font-family: "Monoton", cursive;
  color: #0062ff;
  letter-spacing: 3px;
}

.font-effect-neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #2b78f3,
    0 0 0.6em #0062ff, 0 0 0.8em#0062ff, 0 0 1em #0062ff, 0 0 1.2em#0062ff;
  color: #fff;
}
.night-logo {
  font-family: var(--font-poppins);
  font-weight: 700;
  letter-spacing: 3px;
}

.input-wrap {
  margin: 0 auto;
  text-align: center;
  background-color: var(--box-color);
  height: 320px;
  border-radius: var(--border-radius);
  max-width: 300px;
}
