.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top-bar-container {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
  width: 275px;
  height: 80px;
  margin: 10px;
  background-color: #eee;
  border-radius: 9px;
  max-width: 320px;
}

.question-container {
  padding: 10px;
  text-align: center;
  color: black;
  width: 300px;
  height: 125px;
  background-color: #eee;
  border-radius: 8px;
  width: 300px;
  position: relative;
}

.question {
  border: 0px solid red;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0em;
  height: 125px;
  margin-top: 20px;
}

#question-title-txt {
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 2px black solid;
  position: absolute;
  background-color: white;
  top: 0;
  left: 10px;
  padding: 2px;
}
.container {
  border: 0px solid green;
}

.answer {
  text-align: center;
  color: black;
  width: 300px;
  height: 45px;
  background-color: #eee;
  border: 0px solid blue;
  border-radius: 8px;
  margin: 1rem;
  align-content: center;
  padding: 1em;
}
.answer:hover {
  transform: scale(1.1);
  color: var(--blue);
  transition: ease-out 100ms;
  background-color: var(--hover-bg);
}
.user-info {
  display: flex;
  flex-direction: column;
  color: red;
  margin-right: auto;
}

.avatar {
  position: absolute;
  bottom: 88%;
  padding: 10px;
}
.round-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
}

.category {
  font-size: 0.8rem;
}

.progressjs-theme-blue .progressjs-inner {
  z-index: -1;
  height: 125px;
  transition: all 0.3s ease-out;
  background-color: rgba(255, 0, 0, 0.479);
  border-radius: 8px;
}

.progressjs-percent {
  color: transparent;
}
