.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.sign-up-box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.helptext {
  display: none;
}

li {
  display: none;
}

.sign-up-title {
  padding-top: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
}

.btn {
  margin: 10px;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 20px #2196f3;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "Sigmar One", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 40px;
}

.trivia-logo {
  font-family: "Sigmar One", cursive;
  color: #0062ff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0062ff, 0 0 30px #0062ff,
    0 0 40px#0062ff, 0 0 55px #0062ff, 0 0 75px#0062ff;
}

.night-logo {
  color: #ff0099;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0099, 0 0 30px #ff0099,
    0 0 40px#ff0099, 0 0 55px#ff0099, 0 0 75px#ff0099;
}

.input-wrap {
  margin: 0 auto;
  text-align: center;
  background-color: var(--box-color);
  height: 320px;
  border-radius: var(--border-radius);
  max-width: 300px;
}

.buttons {
  display: flex;
  max-height: 70px;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  background-color: white;
  width: 50%;
  padding: 12px 20px;
  margin: 6px 0;
  border-radius: var(--border-radius);
  border: none;
  border: 2px black solid;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
