/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

/* Global reset and font family set */
* {
  font-family: var(--font-roboto);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables you can use in any css file 
throughout the 
project with: Ex. var(--nameOfVar) */
:root {
  /* Colors */
  --main-bg-color: #272727;
  --box-color: #eee;
  --font-color: #424242;
  --second-font: #727272;
  --hover-bg: #d3d1d3;
  --btn-color: #0062ff;
  --red: #fb3640;
  --yellow: #ffe400;
  --orange: #f66530;
  --green: #2da76b;
  --blue: #20a4f3;

  /* Fonts */
  /* --font-poppins: "Poppins", sans-serif; */
  --font-poppins: "Poppins", sans-serif;
  /*400,500,700,800,900 Weights*/ /*Weights: 300,400,500,700,800,900 */
  /* --font-roboto: "Roboto", sans-serif; */
  --font-roboto: "Roboto", sans-serif;
  /*300,400 Weights*/ /*Weights: 300,400 */

  /* Shadows and Effects */
  --border-radius: 8px;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

body {
  font-family: var(--font-robto);
  background-color: var(--main-bg-color);
  height: 100vh;
}
.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top-bar-container {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
  width: 275px;
  height: 80px;
  margin: 10px;
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  max-width: 320px;
}
.avatar {
  padding: 10px;
}

.ham-btn {
  margin-left: auto;
  margin: 4px;
  cursor: pointer;
}
#ham {
  margin-left: auto;
}
.ham-btn {
  margin-left: auto;
}
