body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

.question {
    border: 2px solid red;
    border-radius: 15px; 
    padding: 1em;
}

.container {
    border: 1px solid green;
}

.answer {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 1em;
    margin: 1em 2em 1.5em 1em
    
}

