body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

.question {
    border: 2px solid red;
    border-radius: 15px; 
    padding: 1em;
}

.answer {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

