/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  /* Colors */
  --main-bg-color: #f5f4f5;
  --font-color: #424242;
  --second-font: #727272;
  --red: #e74c3c;
  --hilght: #ffe400;
  --orange: #f66530;
  --green: #2da76b;
  /* Fonts */
  /* --font-poppins: "Poppins", sans-serif; */
  /*400,500,700,800,900 Weights*/
  /* --font-roboto: "Roboto", sans-serif; */
  /*300,400 Weights*/
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.question {
  border: 2px solid red;
  border-radius: 15px;
  padding: 1em;
}

.container {
  border: 1px solid green;
}

.answer {
  border: 2px solid blue;
  border-radius: 15px;
  padding: 1em;
  margin: 1em 2em 1.5em 1em;
}
