{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<script>let time_left = {{ time_left }}</script>
<script src="{% static 'js/intermission.js' %}"></script>

<h1>Intermission</h1>
<h1>Next category: {{category}}</h1>
<h1>{{time_left}}</h1>

<div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
      </g>
    </svg>
    <span id="base-timer-label" class="base-timer__label">
        {{ time_left }}>  <!-- tutorial used this     ${formatTime(timeLeft)}-->
      <!-- Remaining time label -->
    </span>
</div>
  

{% endblock %}

