{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <!-- Question container -->
    <div class="question">Question</div> 
  </div>
</section>

<!-- <section class="section"> -->
  <div class="container">
    <!-- Answers rows -->
    <div class="answer"> AnswerA test</div>
    <div class="answer"> AnswerB test</div>
    <div class="answer"> AnswerC test</div>
    <div class="answer"> AnswerD test</div>
  </div>
<!-- </section> -->

{% endblock %}

