{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}" />
<script type="text/javascript" src="{% static 'js/progress.min.js' %}"></script>
<script
  defer
  type="text/javascript"
  src="{% static 'js/hamburger.js' %}"
></script>
<!-- <script>
  let time_left = {{ time_left }}
</script> -->
<div class="game-wrapper">
  <div class="top-bar-container">
    <div class="user-info">
      <div class="avatar">
        <div class="avatar-wrap">
          <img
            id="avatar-pic"
            width="48px"
            src="{% static 'imgs/avatar.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="round-info-container">
      <div class="category">Category: {{question.category}}</div>
    </div>
    <div class="ham-btn">
      <img id="ham" width="32px" src="{% static 'imgs/ham.svg' %}" alt="" />
      <div id="side-menu" class="not-active">
        <ol>
          <ol>
            {% for row in leaderboards.alltime %}
            <li>{{ row }}</li>
            {% endfor %}
          </ol>
        </ol>
      </div>
    </div>
  </div>
  <div class="question-container">
    <div class="question-title">
      <span id="question-title-txt">{{ question.question }}</span>
    </div>
  </div>

  <!-- <section class="section"> -->
  <div class="choice-wrapper">
    <div class="container">
      <!-- Answers rows -->
      {% for answer in question.choices %}
      <div class="answer">{{ answer }}</div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- </section> -->

<script>
  progressJs(".question-container").start().set(100).autoIncrease(-1, 200);
</script>

<script src="{% static 'js/question.js' %}"></script>

{% endblock %}
