{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>let time_left = {{ time_left }}</script>
<script src="{% static 'js/question.js' %}"></script>

<section class="section">
  <!-- <div class="container"> -->
    <!-- Question container -->
    <div class="question">{{ question.question }}</div> 
  </div>
</section>

<!-- <section class="section"> -->
  <div class="container">
    <!-- Answers rows -->
    {% for answer in question.choices %}
      <div class="answer"> {{ answer }}</div>
    {% endfor %}
  </div>
<!-- </section> -->

<h1 id='score'>1000</h1>

{% endblock %}

