{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}" />
<script>
  let time_left = {{ time_left }}
  let result_id = {{ result_id }}
</script>
<div class="game-wrapper">
  <div class="top-bar-container">
    <div class="user-info">
      <div class="avatar">
        <div class="avatar-wrap">
          <img
            id="avatar-pic"
            width="48px"
            src="{% static 'imgs/avatar.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="round-info-container">
      <div class="category-icon">
        <img width="48px" src="/static/imgs/{{question.category}}.svg" alt="" />
      </div>
      <div class="category">{{question.category}}</div>
    </div>
    <div class="ham-btn">{% include "hamburger.html" %}</div>
  </div>
  <div class="question-container">
    <div class="question-title">
      <span id="question-title-txt">{{ question.question }}</span>
    </div>
  </div>
  <!-- <section class="section"> -->
  <div class="choice-wrapper">
    <div class="container">
      <!-- Answers row -->
      <div class="answer {{answer_class}}">{{ answer }}</div>
    </div>
  </div>
  <table>
    {% for user in scoreboard %}
    <tr>
      <td>{{ user.user.username }}</td>
      <td>{{ user.points }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- </section> -->

  <script src="{% static 'js/waiting.js' %}"></script>
  {% endblock %}
</div>
