{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/waiting.css' %}" />
<div class="game-wrapper">
  <div class="top-bar-container">
    <div class="user-info">
      <div class="avatar">
        <div class="avatar-wrap">
          <img
            id="avatar-pic"
            width="48px"
            src="{% static 'imgs/avatar.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="round-info-container">
      <div class="category">Category: {{question.category}}</div>
    </div>
    <div class="ham-btn">
      <img id="ham" width="32px" src="{% static 'imgs/ham.svg' %}" alt="" />
    </div>
  </div>
  <div class="question-container">
    <script>
      let time_left = {{ time_left }}
    </script>

    <h1>Wait until next question!</h1>
    <h1>You got {{score}} for the last one</h1>
  </div>

  <script src="{% static 'js/waiting.js' %}"></script>
  {% endblock %}
</div>
