{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/waiting.css' %}" />
<script>
  let time_left = {{ time_left }}
</script>
<script
  defer
  type="text/javascript"
  src="{% static 'js/hamburger.js' %}"
></script>
<div class="game-wrapper">
  <div class="top-bar-container">
    <div class="user-info">
      <div class="avatar">
        <div class="avatar-wrap">
          <img
            id="avatar-pic"
            width="48px"
            src="{% static 'imgs/avatar.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="round-info-container">
      <div class="choosing-icon">
        <img width="48px" src="{% static 'imgs/choosing.svg' %}" alt="" />
      </div>
    </div>
    <div class="ham-btn">{% include "hamburger.html" %}</div>
  </div>
  <div class="waiting-container">
    <span class="wait">Wait for next round</span><br />
    <span class="score"
      >You got <span class="score-color">{{score}}</span> points for the last
      one</span
    >
    <!-- <ul>
      {% for data in leaderboards.alltime %} {%for inv in data%}
      <li>{{inv.score}}</li>
      {% endfor %} {% endfor %}
    </ul> -->
  </div>

  <script src="{% static 'js/waiting.js' %}"></script>
  {% endblock %}
</div>
